# 4.6 Merging and exporting data

## This script contains the following points:
1. Import data 
2. Merge data
3. Export data

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

## 01.Import data

In [2]:
# Set folder path
path = r'C:\Users\hachl\Downloads\4.3_orders_products'

In [3]:
# Import 'orders_products_prior.csv' file using the os library

df_prior = pd.read_csv(os.path.join(path, 'orders_products_prior.csv'), index_col = False)

In [4]:
# Import 'orders_checked.csv' data set

df_checked = pd.read_csv(os.path.join(path,'02 Data','Prepared Data', 'orders_checked.csv'), index_col = False)

In [5]:
# Check output of 'df_prior'
df_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
df_prior.shape

(32434489, 4)

In [7]:
# Check output of 'df_checked'
df_checked.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order
0,0,0,2539329,1,prior,1,2,8,NaN
1,1,1,2398795,1,prior,2,3,7,15.0
2,2,2,473747,1,prior,3,3,12,21.0
3,3,3,2254736,1,prior,4,4,7,29.0
4,4,4,431534,1,prior,5,4,15,28.0

In [8]:
df_checked.shape

(3421083, 9)

## 02.Merge data

In [9]:
# Merge the two data frames --> order_id in common, inner join default

df_merged_large = df_checked.merge(df_prior, on = 'order_id', indicator = True)

In [10]:
# Check the output

df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [12]:
df_merged_large.shape

(32434489, 13)

In [13]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

### For your Instacart project, you’ll only be working with data sets that have a full merge rate. However, you should always double-check your merge rates using 'how' argument, especially when you’re exploring new data and performing test merges.

# 03.Export data

In [14]:
# Export the new merged dataframe as a pickle file

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [16]:
# Export the new merged dataframe as a csv file

df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))